.first-rectangle {
    height: 250px;
    width: 1200px;
    background-color: rgb(255, 153, 51);
}
.second-rectangle {
    background-color: white;
    height: 250px;
    width: 1200px;
}
.third-rectangle{
    background-color: rgb(18, 136, 7);
    height: 250px;
    width: 1200px;
}
.first-circle {
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 136);
    border-radius: 50%;
    position: relative;
    left: 500px;
    top: 25px;
}

.second-circle {
    height: 175px;
    width: 175px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 12.5px;
    left: 12.5px;
}

.third-circle {
    height: 35px;
    width: 35px;
    background-color: rgb(0, 0, 136);
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 70px;
}

.rectangle {
    background-color: rgb(0, 0, 136);
    height: 70px;
    width: 4px;
}

.first-spoke {
    position: absolute;
    left: 85.5px;
}

.second-spoke {
    position: absolute;
    top: 0.1px;
    left: 89.5px;
    transform-origin: bottom;
    transform: rotate(15deg);
}

.three-spoke {
    position: absolute;
    top: 3px;
    left: 94px;
    transform-origin: bottom;
    transform: rotate(30deg);
}

.four-spoke {
    position: absolute;
    top: 6px;
    left: 98px;
    transform-origin: bottom;
    transform: rotate(45deg);
}

.five-spoke {
    position: absolute;
    top: 10px;
    left: 100px;
    transform-origin: bottom;
    transform: rotate(60deg);
}

.six-spoke {
    position: absolute;
    top: 14px;
    left: 103px;
    transform-origin: bottom;
    transform: rotate(75deg);
}

.seven-spoke {
    position: absolute;
    top: 17.5px;
    left: 103px;
    transform-origin: bottom;
    transform: rotate(90deg);
}

.eight-spoke {
    position: absolute;
    top: 23px;
    left: 103px;
    transform-origin: bottom;
    transform: rotate(105deg);
}

.nine-spoke {
    position: absolute;
    top: 27px;
    left: 100px;
    transform-origin: bottom;
    transform: rotate(120deg);
}

.ten-spoke {
    position: absolute;
    top: 30px;
    left: 98px;
    transform-origin: bottom;
    transform: rotate(135deg);
}

.eleven-spoke {
    position: absolute;
    top: 33px;
    left: 94px;
    transform-origin: bottom;
    transform: rotate(150deg);
}

.twelve-spoke {
    position: absolute;
    top: 35px;
    left: 89.5px;
    transform-origin: bottom;
    transform: rotate(165deg);
}

.thirteen-spoke {
    position: absolute;
    top: 35px;
    left: 85.5px;
    transform-origin: bottom;
    transform: rotate(180deg);
}

.fourteen-spoke {
    position: absolute;
    top: 35px;
    left: 82px;
    transform-origin: bottom;
    transform: rotate(195deg);
}

.fifteen-spoke {
    position: absolute;
    top: 33px;
    left: 78px;
    transform-origin: bottom;
    transform: rotate(210deg);
}

.sixteen-spoke {
    position: absolute;
    top: 30px;
    left: 73px;
    transform-origin: bottom;
    transform: rotate(225deg);
}

.seventeen-spoke {
    position: absolute;
    top: 27px;
    left: 71px;
    transform-origin: bottom;
    transform: rotate(240deg);
}

.eighteen-spoke {
    position: absolute;
    top: 23px;
    left: 68px;
    transform-origin: bottom;
    transform: rotate(255deg);
}

.nineteen-spoke {
    position: absolute;
    top: 17.5px;
    left: 68px;
    transform-origin: bottom;
    transform: rotate(270deg);
}

.twenty-spoke {
    position: absolute;
    top: 14px;
    left: 68px;
    transform-origin: bottom;
    transform: rotate(285deg);
}

.twentyone-spoke {
    position: absolute;
    top: 10px;
    left: 70px;
    transform-origin: bottom;
    transform: rotate(300deg);
}

.twentytwo-spoke {
    position: absolute;
    top: 6px;
    left: 72px;
    transform-origin: bottom;
    transform: rotate(315deg);
}

.twentythree-spoke {
    position: absolute;
    top: 3px;
    left: 76px;
    transform-origin: bottom;
    transform: rotate(330deg);
}

.twentyfour-spoke {
    position: absolute;
    top: 0.1px;
    left: 81px;
    transform-origin: bottom;
    transform: rotate(345deg);
}